# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment Variables
.env
.env.*
backend/.env
frontend/.env
frontend/.env.*

# Logs
*.log
npm-debug.log*

# Build
dist/
frontend/dist/

# IDE/System
.vscode/
.idea/
.DS_Store
